.Certifications {
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 50px 0 25px 0;
    .Certifications__headline {
        font-family: 'Arima Madurai';
        font-style: normal;
        font-weight: 900;
        font-size: calc(25px + 1.5vw);
        line-height: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #141414;
    }
    .Certifications__slider-container {
        height: auto;
        width: 100%;
        max-width: 100vw;
        overflow: visible;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        &:only-child {
            overflow: visible;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}