.Home {
    min-height: 300px;
    width: 100%;
    padding: 0 150px;
    position: relative;
    .Home__content {
        width: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 30px;
        .Home__headline {
            height: min-content;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 30px;
            line-height: 100%;
        }
    }
}