.Home {
  min-height: 300px;
  height: min(100vh, 600px);
  width: 100%;
  padding: 0 150px;
  position: relative;
  top: 50px;
  z-index: 5;
}
.Home .Home__content {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
}
.Home .Home__content .Home__headline {
  max-width: 90%;
  height: min-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
  line-height: 100%;
}
.Home .Home__content .Home__headline .Home__headline_small {
  font-style: normal;
  font-weight: 500;
  font-size: calc(20px + 1.1vw);
  line-height: 100%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #080808;
}
.Home .Home__content .Home__headline .Home__typed-container {
  min-height: calc((20px + 1.1vw) * 2.7);
}
.Home .Home__content .Home__headline .Home__typed-container .Home__headline_big {
  font-family: "Arima Madurai", cursive;
  font-weight: 900;
  font-size: calc((20px + 1.1vw) * 2.7);
  line-height: 100%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #080808;
}
.Home .Home__content .Home__btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 35px 20px 27px;
  gap: 10px;
  background: #141414;
  box-shadow: 0px 8px 30px rgba(20, 20, 20, 0.25);
  border-radius: 5px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: calc((20px + 1.1vw) / 2);
  line-height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}
.Home .Home__content .Home__btn .Home__btn-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

@media screen and (max-width: 1100px) {
  .Home {
    padding: 0 50px;
  }
  .Home .Home__content .Home__headline .Home__headline_small {
    font-size: calc(10px + 1.1vw);
  }
  .Home .Home__content .Home__headline .Home__typed-container {
    min-height: calc((10px + 1.1vw) * 2.7);
  }
  .Home .Home__content .Home__headline .Home__typed-container .Home__headline_big {
    font-size: calc((10px + 1.1vw) * 2.7);
  }
  .Home .Home__content .Home__btn {
    font-size: calc((10px + 1.1vw) / 2);
    padding: 10px 15px;
  }
  .Home .Home__content .Home__btn .Home__btn-icon {
    height: 16px;
    width: 16px;
  }
}
@media screen and (max-width: 800px) {
  .Home {
    padding: 0 25px;
  }
}
@media screen and (max-width: 600px) {
  .Home .Home__content {
    align-items: center;
    justify-content: center;
  }
  .Home .Home__content .Home__headline {
    width: 100%;
    text-align: center;
    align-items: center;
  }
  .Home .Home__content .Home__headline * {
    max-width: 100%;
    white-space: break-spaces;
    overflow-wrap: break-word;
    word-break: break-all;
  }
}