@keyframes opacityChange {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.About {
    height: 100vh;
    width: 100vw;
    position: relative;

    .About__content {
        width: 100%;
        height: 100vh;
        padding: 50px 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        background: #ffffff;

        .About__progress-bar-container {
            width: 100%;
            display: flex;
            gap: 10px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: 25px;
            padding: 0 150px;
            right: 0;

            .About__progress-bar {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;

                .About__progress-bar-value-text {
                    color: #14141488;
                    font-size: 14px;
                    font-weight: 400;
                }

                .About__progress-bar-value {
                    width: 100%;
                    height: 5px;
                    background: #eeeeee;
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;

                    .About__progress-bar-value-block {
                        height: 100%;
                        background: #b8b8b8;
                        transition: width 0.4s ease;
                        border-radius: 10px;
                        -webkit-border-radius: 10px;
                        -moz-border-radius: 10px;
                        -ms-border-radius: 10px;
                        -o-border-radius: 10px;
                        -webkit-transition: width 0.4s ease;
                        -moz-transition: width 0.4s ease;
                        -ms-transition: width 0.4s ease;
                        -o-transition: width 0.4s ease;
                    }
                }
            }

            .About__progress-hint {
                color: #14141488;
                font-size: 14px;
                font-weight: 400;
                animation: opacityChange 1.5s infinite ease-in-out;
                -webkit-animation: opacityChange 1.5s infinite ease-in-out;
            }
        }

        .About__content-inner {
            width: 100%;
            display: flex;
            gap: 50px;
            align-items: center;
            justify-content: center;
            font-family: 'Raleway', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 115%;
            text-align: justify;
            color: #141414;
        }

        .About__headline {
            font-family: 'Arima Madurai';
            font-style: normal;
            font-weight: 900;
            font-size: calc(25px + 1.5vw);
            line-height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            text-transform: uppercase;
            color: #141414;
        }

        .About__image {
            height: 350px;
            width: 450px;
            object-fit: contain;
        }
    }
}

@media screen and (max-width: 1100px) {
    .About {
        .About__content {
            padding: 25px;

            .About__content-inner {
                gap: 25px;
                font-size: 15px;
            }

            .About__headline {
                font-family: 'Arima Madurai';
                font-style: normal;
                font-weight: 900;
                font-size: calc(25px + 1.5vw);
                line-height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                text-transform: uppercase;
                color: #141414;
            }

            .About__image {
                height: 300px;
                width: 400px;
                object-fit: contain;
            }
        }
    }
}

@media screen and (max-width: 670px) {
    .About {
        .About__content {
            justify-content: flex-start;

            .About__progress-bar-container {
                padding: 0 25px;
            }

            .About__content-inner {
                flex-direction: column;
                font-size: 14px;
            }

            .About__headline {
                font-family: 'Arima Madurai';
                font-style: normal;
                font-weight: 900;
                font-size: calc(25px + 1.5vw);
                line-height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                text-transform: uppercase;
                color: #141414;
            }

            .About__image {
                height: 200px;
                width: 300px;
                object-fit: contain;
            }
        }
    }
}