.Footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 50px 150px;
  gap: 130px;
  isolation: isolate;
  position: relative;
  width: 100%;
  height: auto;
  background: #141414;
  color: #ffffff;
}
.Footer .Footer__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 130px;
  z-index: 1;
}
.Footer .Footer__content .Footer__logo {
  width: calc(50px + 2vw);
  aspect-ratio: 1/1;
  object-fit: contain;
}
.Footer .Footer__content .Footer__links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 150px;
}
.Footer .Footer__content .Footer__links .Footer__links-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
}
.Footer .Footer__content .Footer__links .Footer__headline {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: calc(10px + 1.2vw);
  line-height: 100%;
  color: #FFFFFF;
}
.Footer .Footer__content .Footer__links .Footer__links-list {
  display: flex;
  gap: 10px;
  flex-direction: column;
  list-style: none;
}
.Footer .Footer__content .Footer__links .Footer__links-list .Footer__links-list-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.Footer .Footer__content .Footer__links .Footer__links-list .Footer__links-list-item .Footer__links-list-item-link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  text-decoration: none;
}
.Footer .Footer__content .Footer__links .Footer__links-list .Footer__links-list-item .Footer__links-list-item-link .Footer__links-list-item-img {
  height: 25px;
  aspect-ratio: 1/1;
  object-fit: contain;
}
.Footer .Footer__img {
  height: min(75%, 450px);
  width: auto;
  z-index: 0;
  position: absolute;
  bottom: 0;
  right: 20%;
  object-fit: contain;
  object-position: center 0%;
  transform: translateX(50%);
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
}

@media screen and (max-width: 1200px) {
  .Footer {
    padding: 50px 75px;
    gap: 50px;
  }
  .Footer .Footer__content {
    gap: 50px;
  }
  .Footer .Footer__content .Footer__links {
    gap: 50px;
  }
  .Footer .Footer__content .Footer__links .Footer__links-group {
    gap: 10px;
  }
  .Footer .Footer__content .Footer__links .Footer__headline {
    font-size: calc(10px + 1.2vw);
  }
  .Footer .Footer__content .Footer__links .Footer__links-list {
    gap: 10px;
  }
  .Footer .Footer__content .Footer__links .Footer__links-list .Footer__links-list-item .Footer__links-list-item-link {
    font-size: 16px;
  }
  .Footer .Footer__content .Footer__links .Footer__links-list .Footer__links-list-item .Footer__links-list-item-link .Footer__links-list-item-img {
    height: 25px;
  }
  .Footer .Footer__img {
    height: min(75%, 450px);
  }
}
@media screen and (max-width: 822px) {
  .Footer {
    padding: 50px;
    gap: 50px;
  }
  .Footer .Footer__content {
    gap: 50px;
  }
  .Footer .Footer__content .Footer__links {
    gap: 25px;
  }
  .Footer .Footer__content .Footer__links .Footer__links-group {
    gap: 10px;
  }
  .Footer .Footer__content .Footer__links .Footer__links-list {
    gap: 10px;
  }
  .Footer .Footer__content .Footer__links .Footer__links-list .Footer__links-list-item .Footer__links-list-item-link {
    font-size: 16px;
  }
  .Footer .Footer__content .Footer__links .Footer__links-list .Footer__links-list-item .Footer__links-list-item-link .Footer__links-list-item-img {
    height: 25px;
  }
  .Footer .Footer__img {
    height: min(50%, 450px);
    right: 15%;
  }
}
@media screen and (max-width: 640px) {
  .Footer {
    padding: 50px 25px;
    gap: 50px;
  }
  .Footer .Footer__content {
    gap: 25px;
  }
  .Footer .Footer__content .Footer__logo {
    width: 50px;
  }
  .Footer .Footer__content .Footer__links {
    gap: 25px;
    flex-direction: column;
  }
  .Footer .Footer__content .Footer__links .Footer__links-group {
    gap: 10px;
  }
  .Footer .Footer__content .Footer__links .Footer__headline {
    font-size: 20px;
  }
  .Footer .Footer__content .Footer__links .Footer__links-list {
    gap: 10px;
  }
  .Footer .Footer__content .Footer__links .Footer__links-list .Footer__links-list-item .Footer__links-list-item-link {
    font-size: 14px;
  }
  .Footer .Footer__content .Footer__links .Footer__links-list .Footer__links-list-item .Footer__links-list-item-link .Footer__links-list-item-img {
    height: 20px;
  }
  .Footer .Footer__img {
    height: 170px;
  }
}
@media screen and (max-width: 300px) {
  .Footer .Footer__img {
    display: none;
  }
}