.Skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 25px 0;
}
.Skills .Skills__headline {
  font-family: "Arima Madurai";
  font-style: normal;
  font-weight: 900;
  font-size: calc(25px + 1.5vw);
  line-height: calc(25px + 1.5vw);
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #141414;
}
.Skills .Skills__swiper-container {
  width: 100%;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}