.Skills-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 15px;
  background: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.Skills-card .Skill-card__caption {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 97.5%;
  /* identical to box height, or 16px */
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}
.Skills-card .Skills-card__image {
  height: 100px;
  width: 100px;
  object-fit: contain;
}