.ProjectFilter {
  width: 100%;
  height: auto;
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.ProjectFilter .ProjectFilter__thumbler {
  background: #141414;
  border-radius: 5px;
  padding: 10px;
  gap: 10px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
  color: #FFFFFF;
}
.ProjectFilter .ProjectFilter__select {
  width: min(250px, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position-x: calc(100% - 5px);
  background-position-y: 50%;
  outline: none;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.ProjectFilter .ProjectFilter__input-group {
  width: min(250px, 100%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}
.ProjectFilter .ProjectFilter__input-group .ProjectFilter__input-placeholder {
  position: absolute;
  top: 50%;
  left: 10px;
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
  font-size: 14px;
  transform: translateY(-50%);
  transition: 0.3s;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.ProjectFilter .ProjectFilter__input-group .ProjectFilter__input {
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 10px;
  border: none;
  outline: none;
}
.ProjectFilter .ProjectsFilter__clear-btn {
  background: #b80000;
  border-radius: 5px;
  padding: 10px;
  gap: 10px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
  color: #FFFFFF;
}