@import "./Fonts/ArimaMandurai/style.css";
@import "./Fonts/Raleway/Relaway.css";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

 ::-webkit-scrollbar-thumb {
    background: #141414;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #333333;
}